{{#if candidate}}
  {{#if candidate.programUrl}}<a href="{{config.baseUrl}}#/candidats/{{candidate.id}}">{{/if}}
  <img src="{{config.baseUrl}}images/{{lastname candidate.id}}.jpg" class="circle" alt="{{candidate.name}}">
  {{#if candidate.programUrl}}</a>{{/if}}
  <h5>{{candidate.name}}</h5>
  {{#if percentage }}<h6>{{toFixed percentage 2}} %</h6>{{/if}}
{{/if}}
