<div class="office">
  <h3><small>{{office.number}} —</small> {{office.name}}</h3>
  <div class="office-results">
    <ul class="inline-list global-stats">
      <li>Ins. : {{registered}}</li>
      <li>Vot. : {{voters}}</li>
      <li>Exp. : {{expressed}}</li>
    </ul>
    <table>
      <thead>
        <tr>
          <th>Liste</th>
          <th>%</th>
          <th>Votes</th>
        </tr>
      </thead>
      <tbody>
        {{#withSortedCandidates candidates}}
        {{#each this}}
        <tr>
          <td class="name">{{candidate.name}}</td>
          <td class="percentage">{{toFixed percentage 2}}</td>
          <td class="count">{{digitGrouping count}}</td>
        </tr>
        {{/each}}
        {{/withSortedCandidates}}
      </tbody>
    </table>
  </div>
</div>
