<div class="row">
  <div class="small-12 columns">
    {{#if candidate.id}}
    <img src="{{config.baseUrl}}images/{{candidate.id}}.jpg" class="circle" alt="{{candidate.name}}">
    {{/if}}
  </div>
  <div class="small-12 columns">
    <h1>{{candidate.name}}</h1>
    <h2>{{candidate.slogan}} ({{candidate.party}})</h2>
    <h3>Tapez <span class="vote-number">{{candidate.voteNumber}}</span></h3>
    <ul class="no-bullet">
      {{#if candidate.homepage}}<li><i class="fa fa-globe"></i> <a href="{{candidate.homepage}}" target="_blank">{{candidate.homepage}}</a></li>{{/if}}
      {{#if candidate.twitter}}<li><i class="fa fa-twitter"></i> <a href="http://twitter.com/{{candidate.twitter}}" target="_blank">@{{candidate.twitter}}</a></li>{{/if}}
      {{#if candidate.facebook}}<li><i class="fa fa-facebook-square"></i> <a href="http://facebook.com/{{candidate.facebook}}" target="_blank">{{candidate.facebook}}</a></li>{{/if}}
    </ul>
    {{#if showDetailLink}}
    <p>
      <a href="{{config.baseUrl}}#/candidats/{{candidate.id}}" class="button radius">
      <i class="fa fa-list-ol"></i> Mon Programme
      </a>
    </p>
    {{/if}}
  </div>
</div>
