<div class="row">
  <div class="candidate-detail-card"></div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="candidate-detail-list">
      <h2>Mes Colistiers</h2>
      <div class="row">
        {{#if hasMerged}}
        <div class="small-12 medium-6 large-6 columns">
          <h3>Initiale (1er tour)</h3>
          <table width="100%">
            <thead>
              <tr>
                <th width="50">Position</th>
                <th>Nom</th>
              </tr>
            </thead>
            <tbody>
              {{#each initial}}
              <tr>
                <td class="position">{{position}}</td>
                <td class="name">{{name}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="small-12 medium-6 large-6 columns">
          <h3>Fusionnée (2ème tour)</h3>
          <table width="100%">
            <thead>
              <tr>
                <th width="50">Position</th>
                <th>Nom</th>
                <th width="140">Fusion</th>
              </tr>
            </thead>
            <tbody>
              {{#each merged}}
              <tr>
                <td class="position">{{position}}</td>
                <td class="name">{{name}}</td>
                <td class="merge">{{#if mergedFrom}}<a href="{{config.baseUrl}}#/candidats/{{mergedFrom.id}}/liste">{{mergedFrom.name}}</a>{{else}}~{{/if}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        {{else}}
        <div class="small-12 columns">
          <table>
            <thead>
              <tr>
                <th width="50">Position</th>
                <th width="100%">Nom</th>
              </tr>
            </thead>
            <tbody>
              {{#each initial}}
              <tr>
                <td class="position">{{position}}</td>
                <td class="name">{{name}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
