<h1>Conseils</h1>

<div class="row">
  <div class="small-12 medium-12 large-6 columns">
    <h2>Conseil Municipal</h2>
    <table>
      <tbody>
        {{#each cmMembers}}
          <tr>
            <td class="candidate">Liste {{@key}}</td>
          </tr>
          {{#each this}}
          <tr>
            <td class="name"><span class="position">{{add @index 1}} —</span> {{name}}</td>
          </tr>
          {{/each}}
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="small-12 medium-12 large-6 columns">
    <h2>Conseil Communautaire</h2>
    <table>
      <tbody>
        {{#each ccMembers}}
          <tr>
            <td class="candidate">Liste {{@key}}</td>
          </tr>
          {{#each this}}
          <tr>
            <td class="name"><span class="position">{{add @index 1}} —</span> {{name}}</td>
          </tr>
          {{/each}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
