{{#if elected}}
<div class="elected-header">
  <h2>Élu</h2>
</div>
<div class="elected-content">
  <a href="{{config.baseUrl}}#/candidats/{{elected.candidate.id}}/programme">
    {{#if elected.candidate.id}}<img src="{{config.baseUrl}}images/{{elected.candidate.id}}.jpg" class="circle" alt="{{elected.candidate.name}}">{{/if}}
  </a>
  <h3>{{elected.candidate.name}}</h3>
  <h4>{{toFixed elected.percentage 2}} %</h4>
</div>
{{/if}}
