<div class="results">
  <div class="results-header">
    <h5>{{#is results.round 1}}1er{{else}}2ème{{/is}} tour</h5>
  </div>
  <div class="results-content">
    <div class="row">
      <div class="small-centered columns">
        <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-{{length results.candidates}}">
        {{#each results.candidates}}<li>{{> candidateResult}}</li>{{/each}}
        <ul>
      </div>
    </div>
  </div>
</div>
{{#if results.stats}}
<div class="results-stats">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2 block-centered">
      {{#if results.stats.registered.percentage}}
      <li>
        <div class="results-stat">
          <h5>Inscrits</h5>
          <ul>
            <li class="results-percentage">{{toFixed results.stats.registered.percentage 2}} %</li>
            <li class="results-count">{{digitGrouping results.stats.registered.count ' '}} votes</li>
          </ul>
        </div>
      </li>
      {{/if}}
      {{#if results.stats.expressed.percentage}}
      <li>
        <div class="results-stat">
          <h5>Exprimés</h5>
          <ul>
            <li class="results-percentage">{{toFixed results.stats.expressed.percentage 2}} %</li>
            <li class="results-count">{{digitGrouping results.stats.expressed.count ' '}} votes</li>
          </ul>
        </div>
      </li>
      {{/if}}
      {{#if results.stats.abstentions.percentage}}
      <li>
        <div class="results-stat">
          <h5>Abstention</h5>
          <ul>
            <li class="results-percentage">{{toFixed results.stats.abstentions.percentage 2}} %</li>
            <li class="results-count">{{digitGrouping results.stats.abstentions.count ' '}} votes</li>
          </ul>
        </div>
      </li>
      {{/if}}
      {{#if results.stats.nota.percentage}}
      <li>
        <div class="results-stat">
          <h5>Votes blancs-nuls</h5>
          <ul>
            <li class="results-percentage">{{toFixed results.stats.nota.percentage 2}} %</li>
            <li class="results-count">{{digitGrouping results.stats.nota.count ' '}} votes</li>
          </ul>
        </div>
      </li>
      {{/if}}
    </ul>
</div>
{{/if}}
