<h1>{{theme.name}}</h1>
{{#each programs}}
<div class="row candidate-projects">
  <div class="small-12 large-3 columns text-center">
    <img src="{{config.baseUrl}}images/{{lastname candidate.id}}.jpg" class="circle" alt="{{candidate.name}}">
    <h4>{{@key}}</h4>
  </div>
  <div class="small-12 large-9 columns">
    <ul class="no-bullet candidate-program-projects">
      {{#each this.projects}}
      <li>{{{md2html description}}}</li>
      {{/each}}
    </ul>
  </div>
</div>
{{/each}}
